## 5회 기출 유형
- https://www.kaggle.com/datasets/agileteam/bigdatacertificationkr
- https://github.com/lovedlim/BigDataCertificationCourses

## 문제 1.
- 주어진 trash bag 데이터 세트는 지역별 종량제 봉투 가격을 나타낸다. 가격 컬럼은 각 행의 조건을 만족하는 해당 용량의 종량제 봉투가 존재하면 가격을 값으로, 존재하지 않으면 0을 값으로 갖는다. 이 때 용도가 '음식물쓰레기'이고 사용 대상이 '가정용'인 2L 봉투 가격의 평균을 소수점을 버린 후 정수로 출력한다.

In [5]:
import pandas as pd 
df = pd.read_csv("data/5회/501_trash_bag.csv", encoding="euc-kr")
df['용도'].value_counts()

생활쓰레기     615
음식물쓰레기    134
Name: 용도, dtype: int64

In [13]:
# 첫번째 조건 : 용도는 음식물쓰레기
df2 = df[df['용도'] == '음식물쓰레기']
df2.head()

,시도명,시군구명,종류,처리방식,용도,사용대상,1L가격,1.5L가격,2L가격,2.5L가격,...,5L가격,10L가격,20L가격,30L가격,50L가격,60L가격,75L가격,100L가격,120L가격,125L가격
3,강원도,고성군,규격봉투,소각용,음식물쓰레기,가정용,0,0,60,0,...,120,0,0,0,0,0,0,0,0,0
8,강원도,삼척시,규격봉투,매립용,음식물쓰레기,가정용,0,0,0,0,...,80,150,290,0,0,0,0,0,0,0
9,강원도,양구군,규격봉투,매립용,음식물쓰레기,가정용,0,0,50,0,...,120,210,400,0,0,0,0,0,0,0
12,강원도,양양군,규격봉투,기타,음식물쓰레기,가정용,0,0,40,0,...,90,170,340,0,0,0,0,0,0,0
16,강원도,영월군,규격봉투,매립용,음식물쓰레기,가정용,0,0,0,0,...,110,180,350,0,900,0,1350,0,0,0

In [16]:
# 두번째 조건 : 사용대상은 가정용
df3 = df2[df2['사용대상'] == "가정용"]
df3.head()

,시도명,시군구명,종류,처리방식,용도,사용대상,1L가격,1.5L가격,2L가격,2.5L가격,...,5L가격,10L가격,20L가격,30L가격,50L가격,60L가격,75L가격,100L가격,120L가격,125L가격
3,강원도,고성군,규격봉투,소각용,음식물쓰레기,가정용,0,0,60,0,...,120,0,0,0,0,0,0,0,0,0
8,강원도,삼척시,규격봉투,매립용,음식물쓰레기,가정용,0,0,0,0,...,80,150,290,0,0,0,0,0,0,0
9,강원도,양구군,규격봉투,매립용,음식물쓰레기,가정용,0,0,50,0,...,120,210,400,0,0,0,0,0,0,0
12,강원도,양양군,규격봉투,기타,음식물쓰레기,가정용,0,0,40,0,...,90,170,340,0,0,0,0,0,0,0
16,강원도,영월군,규격봉투,매립용,음식물쓰레기,가정용,0,0,0,0,...,110,180,350,0,900,0,1350,0,0,0

In [18]:
# 마지막 조건 : 특정 용량의 봉투가 존재하지 않으면 가격이 0, 즉 제외해야 한다. 
df4 = df3[df3['2L가격'] != 0]
result = int(df4['2L가격'].mean())
result

119

## 문제 2. 
- BMI지수는 몸무게(kg)를 키(m)의 제곱으로 나누어 구하며, BMI값에 따른 비만도 분류는 다음과 같다.

In [19]:
import pandas as pd
pd.DataFrame({
    "BMIT지수 범위" : ["18.5 미만", "18.5 이상 23미만", "23 이상 25 미만", "25이상 30미만", "30이상"], 
    "비만도 분류" : ["저체중", "정상", "과체중", "경도비만", "중등도비만"]
})

      BMIT지수 범위 비만도 분류
0       18.5 미만    저체중
1  18.5 이상 23미만     정상
2   23 이상 25 미만    과체중
3     25이상 30미만   경도비만
4          30이상  중등도비만

- 이 때 주어진 BMI 데이터 세트에서 비만도가 정상에 속하는 인원 수와 과체중에 속하는 인원 수의 차이를 정수로 출력하시오.

In [37]:
import pandas as pd 
df = pd.read_csv("data/5회/502_bmi.csv", encoding="euc-kr")
# 키 cm를 m로 변환 
df['Height_m'] = df['Height'] / 100
df['bmi'] = df['Weight'] / (df['Height_m'] ** 2)

normal = df[(df['bmi'] >= 18.5) & (df['bmi'] < 23)]
overWeight = df[(df['bmi'] >= 23) & (df['bmi'] < 25)]
result = abs(len(normal) - len(overWeight))
print(result)

28

## 문제 3. 
- 주어진 students 데이터 세트는 각 학교의 학년별 총 전입학생, 총 전출학생, 전체 학생 수를 나타낸다. 순 전입학생수는 총 전입학생 수에서 총 전출학생 수를 빼서 구할 수 있다. 순 전입학생이 가장 많은 학교의 전체 학생 수를 구하시오.

In [55]:
import pandas as pd 
df = pd.read_csv("data/5회/503_students.csv", encoding="euc-kr")
df['순 전입학생'] = df['총 전입학생'] - df['총 전출학생']
df.head()

  학교  학년  총 전입학생  총 전출학생  전체 학생 수  순 전입학생
0  A   1       9       1      222       8
1  A   2      13       4      148       9
2  A   3       8       7      196       1
3  B   1       7       5      171       2
4  B   2       9       1      216       8

In [54]:
# 순 전입학생이 가장 많은 학교의 전체 학생 수를 구하시오. 
result = df.groupby('학교')[['순 전입학생', '전체 학생 수']].agg("sum").reset_index()
print(result['전체 학생 수'].values[0])

566

In [13]:
import pandas as pd 
df = pd.read_csv("data/4회/403_netflix.csv")
df.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

In [28]:
df2 = df[df['country'] == "United Kingdom"].reset_index(drop=True)
df2.loc[:, 'date'] = pd.to_datetime(df2['date_added'])
df2.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,date
0,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...,2021-09-24

In [35]:
df2['year'] = df2['date'].dt.year
df2['month'] = df2['date'].dt.month
result = df2.loc[(df2['year'] == 2018.0) & (df2['month'] == 1.0)].reset_index(drop=True)
print(len(result))

6