In [1]:
import pandas as pd

In [2]:
# 데이터
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

## 1. 첫번째 데이터 부터 순서대로 50:50으로 데이터를 나누고, 앞에서 부터 50%의 데이터(이하, A그룹)는 'f1'컬럼의 결측치를 A그룹의 중앙값으로 채우고, 뒤에서부터 50% 데이터(이하, B그룹)는 'f1'컬럼의 결측치를 B그룹의 최대값으로 채운 후, A그룹과 B그룹의 표준편차 합을 구하시오
### 단, 소수점 첫째자리까지 구하시오 (둘째자리에서 반올림)

In [6]:
a = df.iloc[:50,:]
b = df.iloc[50:, :]

a['f1'] = a['f1'].fillna(a['f1'].median())
b['f1'] = b['f1'].fillna(b['f1'].max())

print(a['f1'].std() + b['f1'].std())

42.0016947694826

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [8]:
A = df.iloc[:50, :]
B = df.iloc[50: , :]

A['f1'] = A['f1'].fillna(A['f1'].median())
B['f1'] = B['f1'].fillna(B['f1'].max())

ans = A['f1'].std() + B['f1'].std()
print(round(ans, 1))

42.0

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
df.shape

In [9]:
# 50:50
dfA = df[:50]
dfB = df[50:]
dfA.shape, dfB.shape

((50, 8), (50, 8))

In [10]:
# 결측치 채우기
dfA.loc[:,'f1'] = dfA['f1'].fillna(dfA['f1'].median())
dfB.loc[:,'f1'] = dfB['f1'].fillna(dfB['f1'].max())

/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [11]:
# 표준편차 확인
dfA['f1'].std()

13.70239067477211

In [12]:
# 표준편차 확인
dfB['f1'].std()

28.299304094710486

In [13]:
# 결과 출력
print(round(dfA['f1'].std() + dfB['f1'].std(),1))

42.0

## 2. 'f4'컬럼을 기준 내림차순 정렬과 'f5'컬럼기준 오름차순 정렬을 순서대로 다중 조건 정렬하고나서 앞에서부터 10개의 데이터 중 'f5'컬럼의 최소값 찾고, 이 최소값으로 앞에서 부터 10개의 'f5'컬럼 데이터를 변경함. 그리고 'f5'컬럼의 평균값을 계산함
### 단 소수점 둘째자리까지 출력(셋째자리에서 반올림)

In [13]:
df2 = df.sort_values(['f4', 'f5'], ascending=[False, True])
temp = df2.head(10).f5.min()
df2.iloc[:10, 7]=temp
df2.f5.mean()

53.62651119203003

In [20]:
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
df = df.sort_values(['f4', 'f5'], ascending = [False, True]).reset_index(drop=True)
min_value = df.head(10).f5.min()
df.iloc[:10, 7] = min_value
ans = df.f5.mean()
print(round(ans, 2))

53.63

In [21]:
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
df = df.sort_values(['f4','f5'], ascending=[False, True]).reset_index(drop=True)
df

      id   age city    f1  f2   f3    f4         f5
0   id43  23.0   대구  60.0   0  NaN  ISTP  29.269869
1   id70  -9.0   경기  96.0   1  NaN  ISTP  48.431184
2   id17  74.0   서울   NaN   1  NaN  ISTP  67.886373
3   id23  34.0   부산  75.0   1  NaN  ISTP  69.730313
4   id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
..   ...   ...  ...   ...  ..  ...   ...        ...
95  id33  47.0   부산  94.0   0  NaN  ENFJ  17.252986
96  id41  81.0   대구  55.0   0  NaN  ENFJ  37.113739
97  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
98  id54  53.0   대구   NaN   1  NaN  ENFJ  69.730313
99  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791

[100 rows x 8 columns]

In [22]:
df.iloc[:10,7] = df['f5'][:10].min()
print(round(df['f5'].mean(),2))

53.63

## 3. 'age' 컬럼의 IQR방식을 이용한 이상치 개수와 표준편차*1.5방식을 이용한 이상치의 개수를 더하시오
- IQR방식 : Q1 - 1.5 * IQR, Q3 + 1.5 * IQR에서 벗어나는 영역을 이상치라고 판단함 (Q1은 데이터의 25%, Q3는 데이터의 75% 지점임)
- 표준편차*1.5방식: 평균으로부터 '표준편차*1.5'를 벗어나는 영역을 이상치라고 판단함

In [17]:
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")

q1 = df.age.quantile(0.25)
q3 = df.age.quantile(0.75)
IQR = q3 - q1

min_ = q1 - 1.5 * IQR
max_ = q3 + 1.5 * IQR

print(min_ , max_)

cond = (df.age < min_) | (df.age > max_)
df2 = df[cond]
print(len(df2))

min2 = df.age.mean() - 1.5 * df.age.std()
max2 = df.age.mean() + 1.5 * df.age.std()

cond = (df.age < min2) | (df.age > max2)
df3 = df[cond]
print(len(df3))

-48.3125 152.1875
0
14

In [18]:
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")

In [19]:
q1 = df.age.quantile(0.25)
q3 = df.age.quantile(0.75)

IQR = q3 - q1
min_val = q1 - 1.5 * IQR
max_val = q3 + 1.5 * IQR
print(min_val, max_val)
cond1 = df['age'] < min_val
cond2 = df['age'] > max_val
df_IQR = df[cond1 | cond2]

df_IQR

age_mean = df.age.mean()
age_std = df.age.std()
print(age_mean, age_std)
age_std_before = age_mean - (age_std * 1.5)
age_std_after = age_mean + (age_std * 1.5)

cond3 = df['age'] < age_std_before
cond4 = df['age'] > age_std_after

df_std = df[cond]

-48.3125 152.1875
50.963 30.442758522588697

In [20]:
# IQR방식 기준점
Q1 = df['age'].quantile(.25)
Q3 = df['age'].quantile(.75)
IQR = Q3 - Q1
min_iqr = Q1-1.5*IQR
max_iqr = Q3+1.5*IQR
print(min_iqr, max_iqr)

-48.3125 152.1875

In [21]:
# 표준편차*1.5 방식 기준점
std = df['age'].std() * 1.5
mean = df['age'].mean()
min_out = mean - std
max_out = mean + std
print(min_out, max_out)

5.298862216116952 96.62713778388306

In [22]:
# 표준편차*1.5 방식 기준
out1 = sum((df['age'] < min_out) | (df['age'] > max_out))
out1

14

In [23]:
# IQR방식 기준
out2 = sum((df['age'] < min_iqr) | (df['age'] > max_iqr))
out2

0

In [ ]:
print(out1+out2)